.coffee-shop {
  padding: 21px 0 0 0;
}

.coffe-shop__content-container {
  padding: 0 20px 0 20px;
}

.coffe-shop__text {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  margin-bottom: 40px;
  // text-align: center;
  // span {
  //   display: block;
  // }
  .coffe-shop__text_first {
    margin: 0;
    padding-left: 18px;
  }

  .coffe-shop__text_second{
    margin: 0;
    padding-left: 21px;
  }

  .coffe-shop__text_third  {
    text-align: center;
    margin: 0;
    // padding-right: 15px;
  }
  @media screen and (max-width: 1440px) {
    .coffe-shop__text_first,
    .coffe-shop__text_second,
    .coffe-shop__text_third {
      text-align: center;
    }
  }
}

.coffee-shop__h2 {
  color: $color-brown;
  text-align: start;
  margin-bottom: 0;
}

.menu-container {
  display: flex;
  justify-content: space-between;
}

.coffee-shop__menu {
  width: 438px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-item__item-name,
.menu-item__item-price {
  display: inline-block;
  color: $color-black;
  font-family: Inter;
  font-size: 20px;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu-item__item-name {
  width: 212px;
}

.item-name__dessert {
  text-align: end;
}

.menu-item__item-price {
  font-family: Forum;
}

.menu-item__item-line {
  width: 100px;
}

.coffee-shop__dessert-header {
  text-align: end;
}

.coffee-shop__menu_dessert {
  width: 482px;
}

.menu-item__desert {
  padding-left: 20px;
}