.coffee-shop {
  padding: 21px 0 0 0;
}
.coffe-shop__content-container {
  padding: 0 0 0 20px;
}
.coffe-shop__text {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  span {
    display: block;
  }

}