.digital-library-cards {
    padding: 20px 20px 40px 20px;
}

.digital-library-cards__content {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1095px) {
    flex-direction: column;
  }
}

.digital-library-cards-input-forms__header {
  color: $color-black;
  font-family: Inter;
  font-size: 30px;
  line-height: normal;
  letter-spacing: 0.6px;
  margin: 0 0 30px 0;
  text-align: center;
}

.digital-library-cards-input-forms_forms-and-button {
  width: 600px;
  height: 386px;
  border: 3px solid $color-brown;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 18px 20px 94px 18px;

  @media screen and (max-width: 1095px) {
    margin: 0 auto 30px;
  }

  @media screen and (max-width: 768px) {
    margin: 0 auto 20px;
  }
}

.digital-library-cards-input-forms_inputs {
  width: 560px;
  height: 272px;
  background-color: $color-brown;
  padding: 20px 20px 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.digital-library-cards__inputs-header {
  color: $color-black;
  font-family: Forum;
  font-size: 30px;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
  margin: 0;
}

.digital-library-cards__input {
  width: 520px;
  height: 66px;
  border-radius: 10px;
  background: $color-white;
  border: none;
  padding: 11px 0 8px 19px;

  &::placeholder {
    color: $color-grey;
    font-family: Forum;
    font-size: 30px;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
  }
}

.digital-library-cards__input_first {
  margin-bottom: 5px;
}

.input-button{
  display: block;
  margin: 0 auto;
  width: 242px;
  height: 44px;
  color: $color-dark;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.get-card__header {
  color: $color-black;
  text-align: end;
  margin: 0 0 35px 0;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;

  @media screen and (max-width: 1095px) {
    text-align: center;
    margin-bottom: 40px;
  }
}

.get-card__text {
  width: 456px;
  color: $color-black;
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 0.4px;

  @media screen and (max-width: 1095px) {
    text-align: center;
    margin: 0 auto 26px;
    width: 600px;
  }
}

.digital-library-cards__buttons{
  display: flex;
  justify-content: end;
  gap: 20px;
  padding-top: 15px;

  @media screen and (max-width: 1095px) {
    justify-content: center;
  }
}
.digital-library-cards__button {
  display: block;
}