.header {
  display: flex;
  background-color: $color-dark;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header__logo {
  h1 {
    color: $color-white;
    font-family: Forum;
    font-size: 30px;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    font-weight: 400;
    margin: 0;
  }
}

.header-nav-and-profile-icon {
  display: flex;
  align-items: center;
}
.nav__items {
  list-style-type: none;
  display: flex;
  // flex-direction: row;
  padding-left: 0;
  margin: 0;
}

ul.nav__items li:not(:last-child) {
  margin-right: 30px
}

ul.nav__items li:last-child {
  margin-right: 42px;
}
.nav__item-link {
  display: inline-block;
  text-decoration: none;
  color: $color-white;
  font-family: Inter;
  font-size: 20px;
  line-height: 50px; /* 250% */
  transition: all 0.2s ease 0s;
  &:hover {
    color: $color-grey;
    transform: translateY(1px);

  }
}