.welcome {
  background: url('../../src/img/Welcome.png')lightgray 50% / cover no-repeat;
  padding: 220px 0 160px 0;
  @media screen and (max-width: 768px) {
    background: url('../../src/img/Welcome768.png')lightgray 50% / cover no-repeat;
  }
}
.welcome__text {

  background-color: $color-dark;
  max-width: 600px;
  padding: 35px 40px;
  

  h2 {
    color: $color-white;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase; 
    margin: 0;
  }
  
}