.pagination__button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.button {
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid $color-dark;
  background-color: $color-white;
  color: $color-dark;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px; 
  transition: all 0.5s ease;

  &:hover {
    cursor: pointer;
    background-color: $color-brown;
    border: none;
  }
}

.button_brown {
  color: $color-brown;;
  border: 1px solid $color-brown;

  &:hover {
    cursor: default;
    background-color: $color-white;
    border: 1px solid $color-brown;
  }
}