.h2 {
  color: $color-dark;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0 0 20px 0;
  text-align: center;
}

.h3 {
  color: $color-black;
  font-family: Forum;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize; 
  margin: 0;
}



