.headers-underline,
.card__headers-underline {
  border: none;
  height: 1px;
}
.headers-underline {
  width: 50px;
  background-color: $color-dark;
}

.card__headers-underline {
  width: 60px;
  background-color: $color-brown;
}