.modal-register {
    display: none;
}

.modal__close-btn {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 13px;
    right: 13px;
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.modal-register__title {
    margin: 0 0 20px 0;
    color: $color-black;
    text-align: center;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.register-inputs__label {
    color: $color-black;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    letter-spacing: 0.3px;
    margin-bottom: 10px;
}

.register-input {
    width: 200px;
    height: 20px;
    border: 1px solid $color-brown;
    margin-bottom: 10px;
}

.register-button {
    margin: 10px 0 6px 0;
}

.register-footer__span1 {
    color: $color-black;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 10px;
}

.register-footer__span2 {
    color: $color-dark;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-decoration-line: underline; 
    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}

.modal-register_opened {
    display: flex;
    width: 250px;
    height: 382px;
    flex-direction: column;
    position: fixed;
    z-index: 25;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-white;
    padding: 20px 25px 0;
}

.mistake {
    border:1px solid red;
}